 
<!-- <div class="product" style="margin-top: 100px;">
    <h1>Categories</h1>
    
    <div class="container text-center">
        
        <div class="row">
           
            <div class="col-md-2">
                <div div class="card">

                    <img src="../../assets/3b360279-8b43-40f3-9b11-604749128187.jpg" (click)="selectCategory(categories[0])" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">{{categories[0]}}</p>
                         
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <img src="../../assets/meat-poultry.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">{{categories[1]}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <img src="../../assets/cereal-recipes-ft-blog0816-2000-9ca7e8d7490b4fd3be62084431df8d23.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">{{categories[2]}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <img src="../../assets/GlobalTrends.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">{{categories[3]}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <img src="../../assets/rgsj9oc_frozen-foods-_625x300_25_October_19.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">{{categories[4]}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="sellers">
    <h2>Shop Our Top Sellers</h2>
    <div class="container text-center">
     
            <div class="row justify-content-center">
           
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/10127947EA-20190726-Media-checkers515Wx515H.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Hot  <br> R81.99</p>
                    </div>
                  </div>

                  <div class="card" style="width: 18rem;">
                    <img src="../../assets/10145938EA-checkers515Wx515H.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Choc-kits <br> R31.99</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img src="../../assets/Soft-Scoop-Vanilla-Flavoured-Ice-Cream-2-L-6001009027986.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Soft Scoop <br> R79.99</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img src="../../assets/ms_double-hearts_rb_125g-bag.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Double Hearts <br> R26.99</p>
                    </div>
                  </div>
        </div>
    </div>
</div>-->

//if there isn't a filtered value then display the normal home page
<div *ngIf="check===false">
    <div class="product" style="margin-top: 100px;">
        <h1 class="catHeading">Categories</h1>

        <div class="container text-center">

            <div class="row">

                <div class="cat1 col-md-2">
                    <div div class="card" style="max-height: 100%;">
                <div class="col-md-2">
                    <div class="card" style="width: 16.6rem;">

                        <img style="height: 124px;" src="https://th.bing.com/th/id/OIP.9BplZJxFcE0nPPxLOxqMcAHaFj?pid=ImgDet&rs=1" (click)="selectCategory(categories[0])"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">{{categories[0]}}</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img src="https://th.bing.com/th/id/OIP.IPBmNdoSzuHQw6mwbVOFRAHaEl?pid=ImgDet&rs=1" (click)="selectCategory(categories[1])"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">{{categories[1]}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card" style="width: 18rem;">
                        <img src="../../assets/woman clothing.jpeg" (click)="selectCategory(categories[2])">
                    <div class="card">
                        <img src="https://th.bing.com/th/id/OIP.f8utj6pvkvtNfPDGQUSn8gHaEo?pid=ImgDet&rs=1" (click)="selectCategory(categories[2])"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">{{categories[2]}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img src="https://th.bing.com/th/id/OIP.3Bbzp5N6QITrMJOGtLqJ4gHaEo?pid=ImgDet&rs=1" (click)="selectCategory(categories[3])"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">{{categories[3]}}</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-2">
                        <div class="card">
                            <img src="../../assets/woman clothing.jpeg" (click)="selectCategory(categories[4])"class="card-img-top" alt="...">
                            <div class="card-body">
                                <p c lass="card-text">{{categories[4]}}</p>
                            </div>
                        </div>
                    </div> -->
            </div>
        </div>
    </div>





    <div class="sellers">
        <h2>Shop Our Top Sellers</h2>
        <div class="container text-center">

            <div class="row justify-content-center">

                <div class="card" style="width: 18rem;">
                    <img src="{{items[5].image.imageURL}}" (click)="viewProduct(items[5].productId)" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">{{items[5].name}}  <br> R {{items[5].price}}</p>
                    </div>
                </div>

                  <div class="card" style="width: 18rem;">
                    <img src="{{items[6].image.imageURL}}"  (click)="viewProduct(items[6].productId)" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">{{items[6].name}}  <br> R {{items[6].price}}</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img src="{{items[7].image.imageURL}} " (click)="viewProduct(items[7].productId)"class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">{{items[7].name}}  <br> R {{items[7].price}}</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img src="{{items[8].image.imageURL}} " (click)="viewProduct(items[8].productId)" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">{{items[8].name}}  <br> R {{items[8].price}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- if there is filtered items then display the shop page -->
<div *ngIf="check">
    <div class="container-fluid">
        <div class="row">
            <div class=" firstCol col-lg-2">
                <div class="sideBar d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white ">
                    <a href="/" class="d-flex align-items-center text-white text-decoration-none">
                        <span class="panelHeading">Categories</span>
                    </a>
                    <div class="category-list">
                        <div class="list-group">
                            <a *ngFor="let category of categories" (click)="selectCategory(category)"
                                class="list-group-item list-group-item-action">{{ category }}</a>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-lg-10 align-self-center">
                <div class="row1 row">

                    <!-- HTML content to display when value is not empty -->
                    <h1>Shop {{selectedCategory}}</h1>
                    <div class="product-grid">
                        <div class="product-card" *ngFor="let item of filteredItems">
                            <img (click)="viewProduct(item.productId)" class="proImg" src="{{item.image.imageURL}}">
                            <h3 (click)="viewProduct(item.productId)" class="proTitle">{{ item.name }}</h3>
                            <p (click)="viewProduct(item.productId)" class="proPrice">R {{ item.price }}</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<app-navigation-bar></app-navigation-bar>