 h4{
    font-family:optima;
}
h5 {
   
    font-family:optima;
}

h1 {
    text-align: center; 
    font-family:optima;
        }
h2{
    text-align: center;
    margin-top: 80px;
    font-family:optima;
 }
 .col-md-2{
    margin-left: 26px;
 }  

