 h4{
    font-family:optima;
}
h5 {
   
    font-family:optima;
}

.catHeading {
    text-align: center; 
    margin-left:0%;
    font-family:optima;
        }
h2{
    text-align: center;
    margin-top: 80px;
    font-family:optima;
    color: #F16B44;
 }
 .col-md-2{
    margin-left: 86px;
    width: 230px;
    
 }  

 /* moe css */
 .firstCol{
    background-color: #38A8AE;
    min-height: 100vh;
    max-width: 15%;
}
h1{
    text-align: center;
    margin-top: 7%;
    margin-bottom: 4%;
    margin-left:-6%;
    font-family: optima;
    color: #F16B44;
}
.row1{
    margin-left: 8.5%;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as desired */
    row-gap: 20px;
    column-gap: 20px;
    
  }
  
  .product-card {
    background-color:none;
    max-width: 70%;
    max-height: 70%;
    padding: 20px;
    height: 100%;
    /* margin-bottom: -20%; */
  }
  .cat{
    margin-top: 1%;
    text-align: center;
    color: #f5f5f5;
  }
  .link{
    color: #f5f5f5;
    text-decoration: none;
  }

  .panelHeading{
    margin-top: 180%;
    font-family: optima;
    font-size: 150%;
    margin-left: 20%;
    margin-bottom: 10%;
  }

  .proImg{
    max-width:150%;
    max-height: 65%;
    cursor: pointer;
  }

  .proTitle{
    font-family: optima;
    font-size: 60%;
    cursor: pointer;
  }

  .proPrice{
font-family: optima;
cursor: pointer;
  }

  

 .list-group-item{
    color: white;
    background-color: #38A8AE;
    cursor: pointer;
    border-style: none;
    text-align: center;
 }

 .container{
  font-family: optima;
 }
 .card{
margin-left:5px;

 }
 .col-md-2{
  margin-left: 0%;
}

.cat1{
  margin-left: 9%;
}
 
 

