<section class="product">

    <div class="container text-center">

        <div class="row">
            <div class="col-md-3">

                <div class="box">

                    <div class="product-image">
                        <img src = "../../assets/3b360279-8b43-40f3-9b11-604749128187.jpg" alt="V1">
                    </div>
                    <h4>Vegetables and Fruits</h4>
                   
                    </div>
                </div>
            </div>
            
        </div>

</section>