<div class="product" style="margin-top: 130px;">
    <h1>Categories</h1>

    <div class="container text-center">
        <div class="row justify-content-start">
            <div class="col-md-2">
                <div class="box equal-box">
                    <div class="product-image">
                        <img src="../../assets/3b360279-8b43-40f3-9b11-604749128187.jpg" alt="V1">
                    </div>
                    <h4>Fruits & Veg</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="box equal-box">
                    <div class="product-image">
                        <img src="../../assets/meat-poultry.jpg" alt="V2">
                    </div>
                    <h4>Meat</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="box equal-box">
                    <div class="product-image">
                        <img src="../../assets/GlobalTrends.jpg" alt="V3">
                    </div>
                    <h4>Bakery</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="box equal-box">
                    <div class="product-image">
                        <img src="../../assets/rgsj9oc_frozen-foods-_625x300_25_October_19.jpg" alt="V4">
                    </div>
                    <h4>Frozen Food</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="box equal-box">
                    <div class="product-image">
                        <img src="../../assets/cereal-recipes-ft-blog0816-2000-9ca7e8d7490b4fd3be62084431df8d23.jpg" alt="V3">
                    </div>
                    <h4>Cereal</h4>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="product" style="margin-top: 100px;">

<h2>Shop Our Top Sellers </h2>    
    <div class="container text-center">
        <div class="big-rectangle">
            <div class="row">
                <div class="col-md-3">
                    <div class="box">
                        <div class="product-image">
                            <img src="../../assets/10127947EA-20190726-Media-checkers515Wx515H.png" alt="V5">
                        </div>
                        <h4>Hot Chocolate</h4>
                        <h5>R81.99</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="product-image">
                            <img src="../../assets/10145938EA-checkers515Wx515H.png" alt="V6">
                        </div>
                        <h4>Choc-kits</h4>
                        <h5>R31.99</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="product-image">
                            <img src="../../assets/Soft-Scoop-Vanilla-Flavoured-Ice-Cream-2-L-6001009027986.jpg" alt="V7">
                        </div>
                        <h4>Soft Scoop</h4>
                        <h4>R79.99</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="product-image">
                            <img src="../../assets/ms_double-hearts_rb_125g-bag.png" alt="V8">
                        </div>
                        <h4>Double Hearts</h4>
                        <h5>R26.99</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
