html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  font-family: optima;
  /* flex: 1; */
}


.text-white{
text-decoration: none;
}

.content {
  flex: 1;
}

.footer {
  flex-shrink: 0;
}
