.checkoutHeading{
    font-family: optima;
    color:orangered;
    margin-top:6%;
    margin-bottom:2%;
}
.errorMsg{
    color: red;
}
.paymentForm{
    margin-bottom: 5%;
    text-align: center;
}
.shippingForm{
    text-align: center;
    padding: 2%;
}
.upperProducts{
    min-height:50%;
}
::placeholder{
    text-align: center;
}
.content{
    display: inline-block;
  text-align: left; 
  margin-top: 10%;
  margin-bottom: 10%;
}
.balance{
    font-weight: bold;
}
.orderDetails{
    padding: 2%;
   
}
.labelValue{
    float: right;
  
}
input{
   min-width: 200%;
   margin-left: -50%;
}
.submit{
    min-width: 200%;
    margin-left: -50%;
    margin-top: 15%;
    border-radius: 10px 10px 10px 10px;
    background-color: #38A8AE;
    color: white;
}

