.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    padding: 0px 40px;

    position:fixed;
    width: 100%;
    height: 10.8%;
    left: 0px;
    top: 0px;

    background: #38a8ae;
}


.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 1px;

    width: 12%;
    /* height: 56px; */

    flex: none;
    order: 0;
    flex-grow: 0;
    
}

/* .form-control{
    border-radius: 3px;
    width: 600px;
    margin-left: 20px; 
}

.search-icon{
    position: absolute;
    z-index: 10;
    right: 30%;
    top: 30px;
    color:blue;

} */

.collapse{
  
    padding: 10px;
    gap: 260px
}



.nav-link{
    color: #F5F5F5;

}


.rightContent{
  
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    padding: 0px;
    gap: 120px;
    margin-left: 65%;

    width: 30%;
    /* height: 60px; */

    flex: none;
    order: 1;
    flex-grow: 0;
}

h3{
    color:#F16B44;
    font-style: italic;
    font-family:optima;
    font-weight: 750;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

a:hover {
    font-size: large;
    color:#2b797d;
  }

