.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    padding: 20px 100px;
    gap: 80px;

    position:fixed;
    width: 100%;
    height: 10.8%;
    left: 0px;
    top: 0px;

    background: #38a8ae;
}


.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 1px;

    width: 12%;
    /* height: 56px; */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.collapse{
    padding: 10px;
    gap: 150px
}

.options{
    display: flex;
    font-family: optima;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 100px;
    color: #F5F5F5;

    width: 30%;
    /* height: 60px; */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.nav-link{
    color: #F5F5F5;

}


.rightContent{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 100px;

    width: 30%;
    /* height: 60px; */

    flex: none;
    order: 2;
    flex-grow: 0;
}

h3{
    color:#F16B44;
    font-style: italic;
    font-family:optima;
    font-weight: 750;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

a:hover {
    font-size: large;
    color:#2b797d;
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .example {background: red;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .example {background: green;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .example {background: blue;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .example {background: orange;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .example {background: pink;}
  }