.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 40px;
    gap: 110px;

    position: absolute;
    width: 1440px;
    height: 86px;
    left: 0px;
    top: 0px;

    background: #38A8AE;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 1px;

    width: 161px;
    height: 56px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.options{
    /* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px 6px;
gap: 60px;

width: 366px;
height: 60px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.search{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 5px 15px;
gap: 250px;

width: 363px;
height: 41px;

background: #F5F5F5;
border: 1px solid #F16B44;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

.rightContent{
    /* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 20px;

width: 133px;
height: 60px;


/* Inside auto layout */

flex: none;
order: 3;
flex-grow: 0;
}