<div class="header">
    <nav class="navbar navbar-expand-lg">
        
        <a class="navbar-brand" href="#">
            <div class="logo">
                <img src="https://i.ibb.co/znTssF3/Delicato-Logo.png" alt="Delicato-Logo" height="40" width="40"/>
            <h3>Delicato</h3>
             </div>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <div class="options">
                <li class="home">
                     <a class="nav-link" href="#">Home</a>
                </li>
                <li class="about">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="shop">
                    <a class="nav-link" href="/shop">Shop</a>
                </li>
                </div>
            </ul>

        <form class="search">
            <input class="inputSearch" type="text" placeholder="Search">
            <button class="btn" type="submit">
                <fa-icon 
                [icon]="searchIcon"
                [styles]="{ color: 'gray' }"
                size="lg"></fa-icon>
            </button>
        </form>

        <div class="rightContent">
            <ul class="navbar-nav mr-auto">
            <li class="cart">
                <a class="nav-link" routerLink="/cart">
                    <fa-icon 
                    [icon]="cartIcon"
                    [styles]="{ color: 'white' }"
                    size="lg"></fa-icon>
                    <span class="cart-counter">{{ cartItemCount }}</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="cart">
                <a class="nav-link" href="#">
            <fa-icon 
            [icon]="profileIcon"
            [styles]="{ color: 'white' }"
            size="lg"></fa-icon>
        </a>
    </li>
</ul>
        </div>

    </div>
    
  </nav>

</div>

