<!-- <section class="h-100 h-custom" style="background-color: white">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
          <div class="card card-registration card-registration-2" style="border-radius: 15px; background-color: #f5f5f5;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-12">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                      <h6 class="mb-0 text-muted">{{ cartItemCount }} items</h6>

                    </div>
                    <hr class="my-4">
  
                    <div class="row mb-4 d-flex justify-content-between align-items-center" *ngFor="let product of cartItems">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img
                        src="{{product.image.imageURL}}"
                          class="img-fluid rounded-3" alt="Image">
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-muted">{{product.name}}</h6>
                        <h6 class="text-black mb-0">{{product.description}}</h6>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">  
                              <div class="justify-content-between">
                                <div class="input-group w-auto justify-content-end align-items-center">
                                  <input type="button" value="-" class="button-minus border rounded-circle icon-shape icon-sm mx-1" (click)="decrementValue('quantity')">
                                  <input type="number" step="1" max="10" value="1" name="quantity" class="quantity-field border-0 text-center w-25" style="background-color:#F5F5F5;">
                                  <input type="number" [(ngModel)]="product.quantity" step="1" max="10" name="quantity" class="quantity-field border-0 text-center w-25" style="background-color:#F5F5F5;"> 
                                  <input type="button" value="+" class="button-plus border rounded-circle icon-shape icon-sm" (click)="incrementValue('quantity')">
                                </div>
                              </div>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0">{{product.price}}</h6>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end" *ngFor="let product of cartItems; let i = index">
                        <!-- <a href="#!" class="text-muted"><i class="fas fa-trash-alt"></i></a> 
                        <button class="btn btn-danger" (click)="removeCartItem(product)"><i class="fas fa-trash-alt"></i></button>
                      </div>
                    </div>
  
                    
                    <hr class="my-4">

                    <div class="total">
                      <div class="d-flex justify-content-between mb-5">
                        <h5 class="text-uppercase">Total price</h5>
                        <h5>€ 137.00</h5>
                        <!-- <h5>€ {{ product.total }}</h5> 

                      </div>
                    </div>

                    <div class="d-flex justify-content-center">
                      <button class="chekout" (click)="checkout()">Checkout</button>
                    </div>
  
                    <div class="pt-5">
                      <h6 class="mb-0"><a href="#!" class="text-body"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>  -->


  <div class="container" *ngIf="cartItems.length === 0; else cartNotEmpty">
    <div class="card">
      <h5 class="card-title">My Cart</h5>
    </div>
    <div class="center">
      <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="" />
      <h4>Your cart is empty!</h4>
      <h6>Add items to it now</h6>
      <button class="btn btn-primary">Shop Now</button>
    </div>
  </div>
  
  <ng-template #cartNotEmpty>
    <section class="h-100 h-custom" style="background-color: white">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-10">
            <div class="card card-registration card-registration-2" style="border-radius: 15px; background-color: #f5f5f5;">
              <div class="card-body p-0">
                <div class="row g-0">
                  <div class="col-lg-12">
                    <div class="p-5">
                      <div class="d-flex justify-content-between align-items-center mb-5">
                        <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                        <h6 class="mb-0 text-muted">{{ cartItemCount }} items</h6>

                      </div>
                      <hr class="my-4">
    
                      <div class="row mb-4 d-flex justify-content-between align-items-center" *ngFor="let product of cartItems">
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <img src="{{ product.image.imageURL }}" class="img-fluid rounded-3" alt="Image">
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                          <h6 class="text-muted">{{ product.name }}</h6>
                          <h6 class="text-black mb-0">{{ product.description }}</h6>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">  
                          <div class="justify-content-between">
                            <div class="input-group w-auto justify-content-end align-items-center">
                              <input type="button" value="-" class="button-minus border rounded-circle icon-shape icon-sm mx-1" (click)="decrementValue('quantity')">
                              <input type="number" step="1" max="10" value="1" name="quantity" class="quantity-field border-0 text-center w-25" style="background-color:#F5F5F5;">
                              <input type="button" value="+" class="button-plus border rounded-circle icon-shape icon-sm" (click)="incrementValue('quantity')">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          <h6 class="mb-0">{{ product.price }}</h6>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                          <button class="btn btn-danger" (click)="removeCartItem(product)"><i class="fas fa-trash-alt"></i></button>
                        </div>
                      </div>
    
                      <hr class="my-4">
    
                      <div class="total">
                        <div class="d-flex justify-content-between mb-5">
                          <h5 class="text-uppercase">Total price</h5>
                          <h5>€ 137.00</h5>
                        </div>
                      </div>
    
                      <div class="d-flex justify-content-center">
                        <button class="checkout" (click)="checkout()">Checkout</button>
                      </div>
    
                      <div class="pt-5">
                        <h6 class="mb-0">
                          <a href="#!" class="text-body">
                            <i class="fas fa-long-arrow-alt-left me-2"></i>Back to shop
                          </a>
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-template>
  
  
  

<ng-container *ngIf="false">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
            </div>
            <div class="center-empty-cart">
                <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
                <h4>Your cart is empty!</h4>
                <h6>Add item to it now</h6>
                <button class="btn btn-primary">Shop Now</button>
            </div>
    </div>
    </ng-container>