.container{
    min-height:100%;
}
.icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}
.icon-sm {
    width: 2rem;
    height: 2rem;
}
.card{
    min-height: 50vh;
    margin-top: 100px;
    padding: 25px;
}
.center img{
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 162px;
    width: 250px;
    margin: 20px 0px;
}
.emptycart{
    
    font-size: 18px; 
    padding: 10px 50px; 
    background-color: red; 
    color: #ffffff; 
    border-radius: 20px;
    margin-right: 10px;
}
.shopmore{
    font-size: 18px;
    padding: 10px 50px; 
    background-color: #0079FF;
    color: #ffffff;
    border-radius: 20px;
    margin-right: 10px;
}
.checkout{
    font-size: 18px; 
    padding: 10px 50px; 
    background-color: #38A8AE; 
    color: #ffffff; 
    border-radius: 20px;
}
.h4, h6{
    font-weight: 400;
}
.center{
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate (-50%, -50%);
    text-align: center;
}
.card-table{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: .25rem;
}
.center .btn{
    font-size: 18px !important;
    margin-top: 20px !important;
    font-weight: 400;
    padding: 12px 72px;
    border-radius: 20px !important;
}
