*{
    font-family: optima;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto 50px; 
  }

  .content {
    flex: 1;
    color: #F16B44;
    padding: 0 30px;
  }

  .header{
    font-size: 100px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 40px;
  }

  .card{
    padding: 30px 0px;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
    border-radius: 15px;
    /* background-color: aqua; */
 }

  .card-body{
    padding: 0 40px;
    /* background-color: red; */
  }

  .card-text{
    text-align: justify;
  }
 
  
  
/* Media queries for responsiveness */

/* @media (max-width: 1200px), (max-width: 1000px) {
  .header {
    font-size: 80px;
    margin-top: 140px;
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  .header {
    font-size: 60px;
    margin-top: 190px;
    margin-bottom: 20px;
  }

  .card-body {
    padding: 0 20px;
  }
}*/

@media (max-width: 912px){

  .wrapper {
    margin: 0 auto 250px; 
  }

  .content{
    padding-bottom: 70px;
  }

  .header {
    font-size: 80px;
    margin-top: 220px;
    margin-bottom: 20px;
  }

  .card-body {
    padding: 0 20px;
  }
}


@media (max-width: 820px) {

  .wrapper {
    margin: 0 auto 200px; 
  }

  .content{
    padding-bottom: 60px;
  }

  .header {
  font-size:80px;
    margin-top: 190px;
    margin-bottom: 0px;
  }

  .card-body {
    padding: 0 10px;
  }
  .card-text{
    font-size: 2 rem;
  }
}


/*@media (max-width: 768px) {

  .wrapper {
    margin: 0 auto 50px; 
  }

  .content{
    padding-bottom: 50px;
  }

  .header {
    font-size: 40px;
    margin-top: 150px;
    margin-bottom: 0px;
  }

  .card-body {
    padding: 0 10px;
  }
}

@media (max-width: 576px) {
  .header {
    font-size: 30px;
    margin-top: 120px;
    margin-bottom: 10px;
  }

  .card-body {
    padding: 0 5px;
  }
} */
  /* <div id="app" class="d-flex flex-column min-vh-100"> */