<div class="wrapper">
    <div class="content">
      <h1 class="header fw-bold fs-2 fs-sm-3 fs-md-4 fs-lg-5 fs-xl-6">Who are we?</h1>
    </div>

<div class="container">
    <div class="card-deck">
<div class="card-group">
    <div class="card mb-3">
      <div class="card-body">
        <p class="card-text fs-4 fs-sm-5 fs-md-6 fs-lg-7 fs-xl-8">Welcome to Delicato, your ultimate destination for delectable food and culinary delights! At Delicato, we take pride in offering a wide range of mouthwatering dishes, created with love and passion by our team of expert chefs.</p>
  </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card mb-3">
      <div class="card-body">
        <p class="card-text fs-4 fs-sm-5 fs-md-6 fs-lg-7 fs-xl-8">Whether you're a food enthusiast, a connoisseur, or simply looking to satisfy your taste buds, we have something special in store for you.</p>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card mb-3">
      <div class="card-body">
        <p class="card-text fs-4 fs-sm-5 fs-md-6 fs-lg-7 fs-xl-8">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
  