.firstCol{
    background-color: #38A8AE;
    min-height: 100vh
}
h1{
    text-align: center;
    color: orange;
}
.card{
    width: 21.5%;
    margin-top: 4%;
    max-height: 24rem;
    margin-left: 3%;
}
img{
    min-width: 70%;
    max-height: 40%;
}
