.firstCol{
    background-color: #38A8AE;
    min-height: 100vh
}
h1{
    text-align: center;
    margin-top: 100px;
    color: orange;
}
.card{
    width: 18%;
    margin-top: 4%;
    max-height: 16rem;
    margin-left: 3.7rem;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as desired */
    gap: 20px; /* Adjust the gap between products */
  }
  
  .product-card {
    background-color: #f5f5f5;
    padding: 20px;
    height: 100%;
    margin-top: 40px;
  }
