<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color: #38A8AE;">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center text-white text-decoration-none">
                    <span class="panelHeading" style="margin-top: 200px;">Categories</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/">
                            <i class="cat1"></i> <span>Fruit & Veg</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/">
                            <i class="cat2"></i> <span>Meat & Poultry</span> </a>
                    </li>
                    <li class="nav-item">
                        <a href="/">
                            <i class="cat2"></i> <span>Cereal</span></a>
                    </li>
                    <li class="nav-item">
                    <a href="/">
                            <i class="cat3"></i> <span>Bakery</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/">
                            <i class="cat4"></i> <span>Frozen Food</span> </a>
                </ul>
                <hr>               
            </div>
        </div>
    </div>
</div>