.firstCol{
    background-color: #38A8AE;
    min-height: 100vh;
    max-width: 15%;
}
h1{
    text-align: center;
    margin-top: 18%;
    margin-bottom: 4%;
    margin-left:-10%;
    font-family: optima;
    color: orange;
}
.row1{
    margin-left: 8.5%;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as desired */
    row-gap: 20px;
    column-gap: 20px;
    
  }
  
  .product-card {
    /* background-color: #f5f5f5; */
    max-width: 70%;
    max-height: 70%;
    padding: 20px;
    height: 100%;
    /* margin-bottom: -20%; */
  }
  .cat{
    margin-top: 1%;
    text-align: center;
    color: #f5f5f5;
  }
  .link{
    color: #f5f5f5;
    text-decoration: none;
  }

  .panelHeading{
    margin-top: 180%;
    font-family: optima;
    font-size: 150%;
    justify-content: center;
    margin-left: 20%;
    margin-bottom: 10%;
  }

  .proImg{
    max-width:150%;
    max-height: 65%;
  }

  .proTitle{
    font-family: optima;
    font-size: 50%;
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .proPrice{
  font-family: optima;
  }

  

 .list-group-item{
    color: white;
    background-color: #38A8AE;
    cursor: pointer;
    border-style: none;
    text-align: center;
 }

  

 