.firstCol{
    background-color: #38A8AE;
    min-height: 100vh
}
h1{
    text-align: center;
    color: orange;
}
.card{
    width: 18%;
    margin-top: 4%;
    max-height: 16rem;
    margin-left: 3.7rem;
}
