.firstCol{
  background-color: #38A8AE;
  min-height: 100vh;
  max-width: 15%;
}
h1{
  text-align: center;
  margin-bottom: 4%;
  margin-left:-12%;
  font-family: optima;
  color: #F16B44;
}
.row1{
  margin-left: 8.5%;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as desired */
  row-gap: 20px;
  column-gap: 20px;
  font-size: 130%;
  
}

.product-card {
  background-color:none;
  max-width: 70%;
  max-height: 70%;
  padding: 20px;
  height: 100%;
  /* margin-bottom: -20%; */
}
.cat{
  margin-top: 1%;
  text-align: center;
  color: #f5f5f5;
}
.link{
  color: #f5f5f5;
  text-decoration: none;
}

.panelHeading{
  margin-top: 180%;
  font-family: optima;
  font-size: 150%;
  margin-left: 20%;
  margin-bottom: 10%;
}

.proImg{
  max-width:150%;
  max-height: 65%;
  cursor: pointer;
}

.proTitle{
  font-family: optima;
  font-size: 60%;
  cursor: pointer;
}

.proPrice{
font-family: optima;
cursor: pointer;
}

.list-group-item{
  color: white;
  background-color: #38A8AE;
  cursor: pointer;
  border-style: none;
  text-align: center;
}


.search-hero {
margin-top: 9%;
max-width: 500px;
padding-bottom: 30px;
margin-left:32%;
}


.form-control {
border: 0.2px solid #F16B44;
box-shadow: 0 2px 2px 0 #F16B44;
margin-top: 30%;

}
.form-control::placeholder  {
font-family: optima;
align-items: center;
text-align: center;
}

.category-list{
font-family: optima;
}

/* Extra small devices (portrait phones) */
@media only screen and (max-width: 576px) {
.firstCol {
  max-width: 100%;
  min-height: 5px;
  padding-bottom: 0%;
  
}
h1{
  margin-left:-8%;
}

.row1 {
  margin-left: 0;
}
.products{
  margin-left: 3%;
}

.product-grid {
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
  font-size: 120%;
  margin-left: 20%;
}

.product-card{
  padding: 10%;

}
.list-group-item{
  margin-bottom: 0px;
  padding:4%
}
.list-group{
  margin-bottom: 0px;
  padding: 0px;
  flex-direction: row;
}

.panelHeading {
  margin-top: 135%;
  margin-left: 0;
  margin-bottom: 10%;
  font-size: 100%;
}

.proImg {
  max-width: 100%;
  max-height: 100%;
}

.proTitle {
  font-size: 80%;
}

.search-hero {
  margin-top: -20%;
  margin-left: 0%;
  width:auto;
}
.category-list{
  margin-bottom: 0px;
  padding-bottom: 0%;
  font-size: 60%;
}

}

/* Small devices (landscape phones) */
@media only screen and (min-width: 576px) and (max-width: 768px) {
.firstCol {
  max-width: 100%;
  min-height: 10vh;
}
.row1 {
  margin-left: 5%;
}

.product-grid {
  grid-template-columns: repeat(3, 1fr);
  row-gap: 0px;
  column-gap: 0px;
  font-size: 70%;
}

.panelHeading {
  margin-top: 160%;
  margin-left: 355%;
  margin-bottom: 8%;
  font-size:100%;
}

.category-list{
  font-size: 80%;
}
.list-group{
  flex-direction: row;
}

.proImg {
  max-width: 120%;
  max-height: 60%;
}

.proTitle {
  font-size: 90%;
}

.search-hero {
  margin-top: 7%;
  margin-left: 5%;
 
}
}

/* Medium devices (tablets) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
.firstCol {
  max-width: 20%;
}

.row1 {
  margin-left: 10%;
}

.product-grid {
  grid-template-columns: repeat(3, 1fr);
  margin-left: 0%;
  font-size: 110%;

}
.products{
  max-width: 80%;
}

.panelHeading {
  margin-top: 150%;
  margin-left: 5%;
  margin-bottom: 10%;
  font-size: 150%;
}

.proImg {
  max-width: 130%;
  max-height: 60%;
}

.proTitle {
  font-size: 100%;
}

.search-hero {
  margin-top: 20%;
  margin-left: 10%;
}

}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

/* Large devices (desktops) */
@media only screen and (min-width: 992px) {
.firstCol {
  max-width: 15%;
}

.row1 {
  margin-left: 8.5%;
}

.product-grid {
  grid-template-columns: repeat(4, 1fr);
}

.panelHeading {
  margin-top: 180%;
  margin-left: 20%;
  margin-bottom: 10%;
}

.proImg {
  max-width: 150%;
  max-height: 65%;
}

.proTitle {
  font-size: 60%;
}

.search-hero {
  margin-top: 9%;
  margin-left: 32%;
}
}