<br>
<h2>Product list: </h2>
<div class="container">
   <div class="row">
       <div class="col-12">
              <div class="card" style="width: 18rem;">
               <img src={{product?.image}} class="card-img-top" alt="...">
               <div class="card-body">
                   <h5 class="card-title">{{product?.title}}</h5>
                   <p class="card-text">{{product?.description}}</p>
                   <button (click)="addToCart(product)">Add Item</button>
                   <br>
               </div>
           </div>
       </div>
   </div>
</div>
