py-5{
    min-height:100vh;
}
.card {
    padding: 23px;
    font-family: optima;
    margin-top: 23vh;
}
.add-to-cart{
    background-color: #38a8ae;
    border:0px solid rgba(0,0,0.2);
    border-radius: 9px;
}