<div class="logo">
    <img src="https://i.ibb.co/znTssF3/Delicato-Logo.png" alt="Delicato-Logo" height="50" width="120" />
    <h3>Delicato</h3>
</div>
<div class="card-heading">
    <h2 class="heading">Create an Account</h2>
</div>
<div class="card">
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <label for="name" class="form-label">First Name:</label>
            <input type="text" id="name" class="form-control" formControlName="firstName">
            <div class="form-text text-danger" *ngIf="firstName.errors?.['required'] && (firstName.touched || firstName.dirty)">
                Name is required.
            </div>
           <div class="form-text text-danAger" *ngIf="firstName.errors?.['minlength'] && (firstName.touched || firstName.dirty)">
                Name is too short.
           </div>
           <div class="form-text text-danger" *ngIf="firstName.errors?.['pattern'] && (firstName.dirty || firstName.touched)">
                Name should start with an Alphabet. 
           </div>

            <label for="surname" class="form-label">Last Name:</label>
            <input type="text" id="surname" class="form-control" formControlName="lastName">
            <div class="form-text text-danger" *ngIf="lastName.errors?.['required'] && (lastName.touched || lastName.dirty)">
                Surname is required.
            </div>
            <div class="form-text text-danger" *ngIf="lastName.errors?.['minlength'] && (lastName.touched || lastName.dirty)">
                Surname is too short.
           </div>
           <div class="form-text text-danger" *ngIf="lastName.errors?.['pattern'] && (lastName.dirty || lastName.touched)">
            Surname should start with an Alphabet. 
           </div>

            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" formControlName="email">
            <div class="form-text text-danger" *ngIf="email.errors?.['required'] && (email.dirty || email.touched)">
                Email is required.
            </div>
            <div class="form-text text-danger" *ngIf="email.errors?.['email'] && (email.dirty || email.touched)">
                Email is invalid.
            </div>

            <label for="choosePassword" class="form-label">Password:</label>
            <input type="password" class="form-control" id="choosePassword" formControlName="password">
            <div class="form-text text-danger" *ngIf="password.errors?.['required'] && (password.dirty || password.touched)">
                Password is required.
            </div>
            <div class="form-text text-danger" *ngIf="password.errors?.['minlength'] || password.errors?.['maxlength'] && (password.dirty || password.touched)">
                Password should be at least 6 and at the maximum 15 characters long.
            </div>

            <label for="retypePassword" class="form-label">Confirm Password:</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
            <div class="form-text text-danger" [ngStyle]="{ 'display': retypePass }">
                Re-type Password is invalid.
            </div>

            <div class="form-text text-danger" *ngIf="retypePass === 'mismatch' && (confirmPassword.dirty || confirmPassword.touched)">
                Passwords do not match
            </div>
            <br><br>
            <button type="submit" [disabled]="registerForm.invalid" class="btn btn-success">Register</button>
        </form>
    </div>
</div>
<div class="container">
    
    <p>Already have an account? <a [routerLink]="['/login']">Login</a></p>
</div>