<form class="needs-validation" novalidate>
    <div class="mb-3">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required>
        <div class="invalid-feedback">
            Please provide a name.
        </div>
    </div>

    <div class="mb-3">
        <label for="name">Surname</label>
        <input type="text" class="form-control" id="name" required>
        <div class="invalid-feedback">
            Please provide a surname.
        </div>
    </div>

    <div class="mb-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" required>
        <div class="invalid-feedback">
            Please provide a valid email address.
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>